@import './root.css';

.col-lg-4  {
    color: var(--white);
}

.card-text {
    color: var(--white);
    font-family: var(--font);
}

.card-title {
    color: var(--white);
    font-family: var(--font);
}

.contract-cards {
    background-color: var(--gray);
    border: solid var(--main);
    font-family: var(--font);
}

.contract-buttons {
    border: none;
    background: none;
    display: block;
    text-align: center;
    border: 1px solid var(--main);
    padding: 2px 8px;
    outline: none;
    color: var(--white);
    border-radius: 24px;
    cursor: pointer;
    font-family: var(--font);
    font-size: 14px;
}

.contract-buttons:hover {
    background-color: var(--main);
    font-family: var(--font);
}