@import './colorscheme.css';

h1 {
    color: var(--main);
    font-weight: 500;
}

h3 {
    color: var(--main);
    font-weight: 500;
}

h4 {
    color: var(--white);
    font-weight: 500;
}

h5 {
    color: var(--white);
    font-weight: 500;
}

p {
    color: var(--white);
    font-weight: 500;
}

label {
    color: var(--white);
    font-weight: 500;
}

b {
    color: var(--main);
}