/* Time to dark theme */

/* this can be used for fonts or icons */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap');

@import './colorscheme.css';

.login-wrapper {
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #212529;
    border: 2px solid var(--main);
}

.login-wrapper h1 {
    color: var(--white);
    font-weight: 500;
    padding: 30px;
    text-transform: uppercase;
}

.login-wrapper input[type='text'], .login-wrapper form input[type='password']
{
    border: none;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: fit-content;
    height: 40px;
    color: var(--white);
    border-bottom: 1px solid var(--main);
    border: 1px solid var(--main);
    border-radius: 24px;
}

.login-wrapper button {
    background-color: var(--main);
    border: none;
    background: none;
    display: block;
    margin: 20px auto 20px auto;
    text-align: center;
    border: 2px solid var(--main);
    padding: 14px 40px;
    outline: none;
    color: var(--white);
    border-radius: 24px;
    cursor: pointer;
    width: 185px;
}

.login-wrapper button:hover {
    background-color: var(--main);
}

.login-wrapper a {
    font-size: 16px;
    color: var(--main);
}

.login-wrapper a:hover {
    color: var(--grayish);
}