@import './root.css';

.navbar-brand li {
    color: var(--main);
    font-family: var(--font);
}

.nav-link li {
    color: var(--white);
    font-family: var(--font);
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.nav-link li:hover {
    color: var(--lightgray);
}