/* Time to dark theme */

@import './root.css';

h1 {
    color: var(--main);
    font-weight: 500;
    font-family: var(--font);
}

form input[type='text']
{
    width: 300px;
    height: 40px;
    border: 1px solid var(--main);
    background: none;
    border-radius: 12px;
    border-bottom: 1px solid var(--main);
    color: var(--white);
    text-align: center;
    font-family: var(--font);
}

form input[type='submit']
{
    border: none;
    background: none;
    display: block;
    margin: 45px auto 20px auto;
    text-align: center;
    border: 1px solid var(--main);
    padding: 14px 40px;
    outline: none;
    color: var(--white);
    border-radius: 24px;
    cursor: pointer;
    font-family: var(--font);
}

form input[type='submit']:hover {
    background-color: var(--main);
    font-family: var(--font);
}

form a {
    font-size: 12px;
    color: var(--main);
    text-transform: none;
    text-decoration: none;
    font-family: var(--font);
}
