/* Time to dark theme */

@import './root.css';

/*
.newcontract_container {
    position: fixed;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--main);
    border-radius: 12px;
    padding-left: 30px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

.newcontract_container .row {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.newcontract_container .col {
    flex: 25%;
    padding: 20px;
    padding-top: 15px;
    margin-left: 10px;
    max-width: 350px;
    width: 100%;
}
*/

.helpLink {
    color: var(--white);
    font-weight: bold;
    font-family: var(--font);
}

.helpLink:hover {
    color: var(--main);
}

.p {
    font-weight: 20px;
    color: var(--white);
    padding-top: 30px;
}

/*
.newcontract_container {
    position: fixed;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--main);
    border-radius: 12px;
    padding-left: 30px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

.newcontract_container .row {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.newcontract_container .col {
    flex: 25%;
    padding: 20px;
    padding-top: 15px;
    margin-left: 10px;
    max-width: 350px;
    width: 100%;
}
*/

.p {
    font-weight: 20px;
    color: var(--white);
    padding-top: 30px;
}

h1 {
    color: var(--white);
    font-weight: 500px;
    font-size: 30px;
    margin-left: 5px;
    font-weight: bold;
}

form input[type='text'], form input[type='submit'], form input[type='date'] {
    width: 100%;
    max-width: 280px;
    height: 40px;
    border: 1px solid var(--main);
    background: none;
    border-radius: 12px;
    border-bottom: 1px solid var(--main);
    text-align: center;
    margin: 15px;
    font-family: var(--font);
}

form input[type='text'], form input[type='submit'] {
    color: var(--white);
}

form input[type='date'] {
    color: var(--lightgray);
}

form input[type='submit']
{
    cursor: pointer;
    width: 100%;
    max-width: 230px;
    height: 50px;
    margin-left: 40px;
    font-family: var(--font);
    color: var(--white);
    display: block;
    padding: 10px 32px;
    border-radius: 24px;
}

form input[type='submit']:hover {
    background-color: var(--main);
    font-family: var(--font);
}

form a {
    font-size: 12px;
    color: var(--main);
    text-transform: none;
    text-decoration: none;
}

/* resizing stuff */
@media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  }
  
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.row {
    flex-direction: column;
}
}

/*
#col1:after {
content: "";
background-color: var(--main);
position: fixed;
width: 1px;
height: 97%;
top: 10px;
left: 50%;
display: block;
margin-left: 10px;
}

#col2 {
padding-left: 60px;
padding-right: 5px;
}
*/