/* Time to dark theme */

:root {
    --blue: #00c3ffe0;
    --darkgray: rgba(0, 0, 0, 0.884);
    --white: #ffffffec;
}

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--darkgray);
}*/

/*form {
    width: 700px;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    box-shadow: #00c3ffe0;
}*/

form h1 {
    color: var(--white);
    font-weight: 500;
}

form input[type='text']
{
    width: 300px;
    height: 40px;
    border: 1px solid #00c3ffe0;
    background: none;
    border-radius: 12px;
    border-bottom: 1px solid var(--blue);
    color: var(--white);
}

form input[type='submit']
{
    border: none;
    background: none;
    display: block;
    margin: 45px auto 20px auto;
    text-align: center;
    border: 1px solid var(--blue);
    padding: 14px 40px;
    outline: none;
    color: var(--white);
    border-radius: 24px;
    cursor: pointer;
}

form input[type='submit']:hover {
    background-color: var(--blue);
}

form a {
    font-size: 12px;
    color: var(--blue);
    text-transform: none;
    text-decoration: none;
}
