:root {
    /* --main: #4782FF; */
    --main: #76a1fcff;
    --darkgray: rgba(0, 0, 0, 0.884);
    --white: #ffffffec;
    --lightgray: #afaeae;
    --gray: #343a40;
    --lazerlemon: #FCFF5c;
    --green: #05c54e;
    --alert: #F34213;
    --font: "Futura", sans-serif;
}