:root {
    --blue: #00c3ffe0;
    --darkgray: rgba(0, 0, 0, 0.884);
    --white: #ffffffec;
}

h1 {
    color: var(--blue);
    font-weight: 500;
}

h3 {
    color: var(--blue);
    font-weight: 500;
}

h4 {
    color: var(--white);
    font-weight: 500;
}

h5 {
    color: var(--white);
    font-weight: 500;
}

p {
    color: var(--white);
    font-weight: 500;
}

label {
    color: var(--white);
    font-weight: 500;
}

b {
    color: var(--blue);
}